.swiper-pagination-bullet-active {
    background-color: #FFBC15 !important;
}

.swiper-button-prev{
    background-image: url("/src/images/arrowleft.svg");
    height: 48px;
    width: 49px;
}

.swiper-button-next{
    background-image: url("/src/images/arrowright.svg");
    height: 48px;
    width: 49px;

}

.swiper-button-next::after {
 display: none;
 
}
.swiper-button-prev:after {
  display: none;
}

.swiperSlide{
    width: fit-content;
    background-position: center;
    background-size: cover;
    max-width: fit-content;
    background-repeat: no-repeat;
    border-radius: 5px;
    }
    
    @media (max-width: 768px) {
    .swiperSlide {
      width: 250px;
      height: auto;
    }
    }
